.display-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    height: 9%;
    border-bottom: 1px var(--font_color2) solid;
    z-index: 1;
    width: 100%;
    background-color: var(--background-color);
}