.size_button{
    background: transparent;
    padding: 5px 7px;
    border-radius: 100px;
    width: 60px;
}
.size_button:hover{
    background: red;;
}
.size_part{
    border: 1px rgba(255, 255, 255, 0.3) solid;
    border-radius: 100px;
    width: fit-content;
    display:flex;
    align-items: center;
}
.ant-drawer-content-wrapper{
    width: 450px !important;
}
.graphic_card .ant-card-body{
    padding:0;
    background: black;
    color: #fff;
    border-radius: 0 0 12px 12px;
}
@media screen and (max-width: 679px) {
    .ant-drawer-content-wrapper{
        width: 100% !important;
    }
}
.color_button{
    border-radius: 100px;
    width: 30px;
    height: 30px;
    background-image: url('color.png');
    margin:5px;
}
.location_part{
    border: 1px rgba(255, 255, 255, 0.3) solid;
    border-radius: 100px;
    width: fit-content;
    align-items: center;
    padding:10px;
}
.tags_button{
    background: black;
    border-radius: 100px;
    /* height: 30px; */
    /* background-image: url('color.png'); */
    margin:3px;
    padding: 5px 10px;
    border: 1px #fff solid;
}
.ant-divider-horizontal{
    background: white;
}
.ant-drawer-body{
    padding:0 !important;
}