.profile_menu {
    position: fixed;
    width: 18%;
    padding: 20px 28px;
    border-right: 1px rgba(255, 255, 255, 0.2) solid;
    height: 91%;
    background: black;
    left: 100px;
    text-align: left;
}

.menu_button {
    background: #EB4949;
    padding: 5px 12px 9px;
    gap: 10px;
    border-radius: 64px;
    width: 112px;
    height: 36px;
    cursor: pointer;
}

.editer {
    position: absolute;
    top: 27%;
    right: 20%;
}

.profile_body {
    position: absolute;
    top: 9%;
    width: 100%;
}
.space-between{
    display:flex;
    justify-content: space-between;
    align-items: center;
}