.profile_menu {
    position: fixed;
    width: 18%;
    padding: 20px 28px;
    border-right: 1px var(--font_color2) solid;
    height: 91%;
    background-color: var(--background-color);
    left: var(--filter_width);
    text-align: left;
}

.menu_button {
    background: #EB4949;
    padding: 5px 12px 9px;
    gap: 10px;
    border-radius: 64px;
    width: 112px;
    height: 36px;
    cursor: pointer;
}

.menu_button1 {
    background: transparent;
    padding: 5px 12px 9px;
    gap: 10px;
    border-radius: 64px;
    margin: 20px 0;
    height: 36px;
    cursor: pointer;
    border: none;
    font-family: 'Vulf Sans Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.menu_button1:hover {
    background: #eb4949;
}

.active {
    margin: 25px 0;

}

.menu_button1.active {
    background: #eb4949;
}

/* .menu_button1:after {
    background: #EB4949;
} */

.editer {
    position: relative;
    bottom: -36px;
    right: 25px;
    width:15%;
}

.profile_body {
    position: absolute;
    top: 9%;
    width: 100%;
    height: 91%;
    overflow: auto;
    background-color: var(--background-color);
}

.profile_body .ant-card-body {
    padding: 0;
    color: var(--font_color);

}

.profile_body .ant-card {
    background: none;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {

    color: var(--font_color) !important;
}

.profile_menu a {
    padding: 10px 10px !important;
}

a:hover {
    color: var(--font_color) !important;
}

@media screen and (min-width: 681px) and (max-width: 1200px){
    .profile_menu{
        padding: 20px 15px;
    }
}

@media screen and (max-width: 680px) {
    .mobile_profile_menu {
        padding: 20px 0;
        display: flex;
        align-items: center;
        border-bottom: 1px var(--font_color2) solid;
    }

    .swiper-wrapper {
        align-items: center;
    }
}