.author_header .display-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    height: 9%;
    border-bottom: 1px var(--font_color2) solid;
    z-index: 1;
    width: 100%;
    background-color: var(--background-color);
}

.profile {
    display: flex;
    gap: 40px;
}

.profile_set {
    display: flex;
    align-items: center;
    gap: 30px;
}

.help {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Vulf Sans Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--font_color6);
}

img {
    height: fit-content;
}

.mobile_version {
    display: none;
}
.close_login{
    position: absolute;
    right: -6%;
    top: 7%;
    cursor: pointer;
}
.ant-modal-close-x{
    display:none !important;
}
#login .ant-select-arrow{
    display:none;
}
@media screen and (max-width: 680px) {
    .help {
        display: none;
    }

    .logo {
        padding-right: 10px;
        border-right: 1px var(--font_color2) solid;
    }

    .mobile_version {
        display: block;
    }

    .mobile_menu {
        color: var(--font_color);
        align-items: center;
        display: flex;
        padding-top:5px
    }
    .ant-modal-content{
        margin: 20px;
    }
}