.profilecard {
    border: 1px var(--font_color2) solid;
    border-radius: 20px;

    height: fit-content;
}

.main {
    padding: 28px;
    width: 100%;
    height: 91%;
    display: flex;
    gap: 5%;
    margin-left: 100px;
    background: var(--background-color);
}

.gradient {
    background: linear-gradient(90deg, #4B355A 2.57%, #3784AB 25.48%, #40C397 51.66%, #F0E681 74.93%, #EB4949 99.48%);
    height: 82px;
    border-radius: 20px;
}

.profileavatar {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 12%;
    top: 50%;
    justify-content: center;
    left: 1%;
}

.profile_person {
    display: flex;
    width: 88%;
    margin-left: 12%;
}

.profile_description {
    border-right: 1px var(--font_color6) solid;
    padding: 12px 24px;
    width: 55%;
}

.profile_connect {
    width: 74px;
    height: 28px;
    background: transparent;
    border: 1px solid var(--font_color);
    border-radius: 36px;
    color: var(--font_color);
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
}

.profile_arrow {
    width: 28px;
    height: 28px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 36px;
    color: var(--font_color);
}

.profile_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.person_content {
    text-align: left;
    padding-top: 12px;
    width: 78%;
    font-family: 'Vulf Sans Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--font_color6);

}

.profile_state {

    text-align: left;
    font-family: 'Vulf Sans Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    width: 45%;
}

.state_value {
    border-bottom: 1px var(--font_color2) solid;
    padding: 12px 24px;
    display: flex;
    gap: 20px;
}

.font20 {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.font12 {
    font-family: 'Vulf Sans Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    display: flex;
}

.font12_6 {
    font-family: 'Vulf Sans Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    display: flex;
    color: var(--font_color6);
}

.font14 {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
}

.font10 {
    font-family: 'Vulf Sans Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    color: var(--font_color6);
}

.font10_2 {
    font-family: 'Vulf Sans Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    color: var(--font_color2);
}

.font16 {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.font16_6 {
    font-family: 'Vulf Sans Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);
}

.font24 {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.avatar_group {
    display: flex;
    border: 1px var(--font_color2) solid;
    border-radius: 20px;
    height: fit-content;
    gap: 20px;
    margin: 16px 0;
    padding: 12px 0;
}

.avatar_group img {
    width: 72px;
    height: 72px;
}

.mySwiper {
    padding: 12px 15px;
    z-index: 0 !important;
}

.card_group {
    height: 100PX;
}

/* .scroll {
    max-height: 250px;
    overflow-y: scroll; */
/* overflow-y: hidden; */
/* } */

.scroll::-webkit-scrollbar {
    display: none;
}

.cardbtn {
    background: transparent;
    border-radius: 5px;
    color: var(--font_color);
    border: 1px var(--font_color6) solid;
    display: flex;
    align-items: center;
}

.pinbtn {
    background: #3784AB;
    color: var(--font_color);
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.card_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
}

.location {
    width: 100%;
    border: 1px solid var(--font_color2);
    border-radius: 20px;
    padding: 16px 20px;
    text-align: left;
}

#button-tooltip {
    width: 300px;
    background-color: var(--background-color);
    border: 1px solid var(--font_color2);
    border-radius: 5px;
    color: var(--font_color);
    padding: 18px 16px;
}

.tooltip-inner {
    max-width: 100%;
    background-color: var(--background-color);
    color: var(--font_color);
}

.main .ant-card-body {
    padding: 0;
    color: var(--font_color);
}

.main .ant-card {
    background: none;
}

.ant-modal-content {
    background-color: var(--background-color) !important;
    color: var(--font_color);
    border-radius: 12px !important;
}

.ant-modal-header {
    background: none !important;
}

.ant-modal-title {
    color: var(--font_color) !important;
}

.phonenumber {
    background: transparent;
    border: none;
}

.dashborder {
    margin-top: 20px;
    padding: 11px 20px 12px;
    border: 2px dashed var(--font_color);
    border-radius: 56px;
    width: fit-content;
    margin: auto;
}

.ant-modal-footer {
    background: #565656 !important;
    border-radius: 0 0 12px 12px !important;
}

.main_first_part {
    width: 75%;
    flex-direction: column;
}

.main_second_part {
    right: 2%;
    width: 20%;
    position: fixed;
}

.ant-input-affix-wrapper>input.ant-input {
    background-color: var(--background-color);
    color: var(--font_color);
    border-bottom: 1px var(--font_color6) solid !important;
}

.ant-select-selection-search {
    border-bottom: 1px var(--font_color6) solid;
}

.ant-input-affix-wrapper {
    border: none !important;
}

.state_half {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 680px) {
    .desktop_version {
        display: none
    }

    .main {
        display: block;
        margin-left: 0px;
    }

    .main_first_part {
        width: 100%;
    }

    .profile_person {
        display: block;
        width: 100%;
        margin-left: 0%;
    }

    .profile_description {
        width: 87%;
        border: none;
    }

    .profileavatar {
        left: 13%;
    }

    .profile_header {
        margin-left: 42%;
        width: 80%;
    }

    .person_content {
        padding-top: 42px;
        width: 100%;
    }

    .profile_state {
        border-top: 1px var(--font_color2) solid;
        width: 100%;
        display: flex;
    }

    .state_first_part {
        width: 50%;
        border-right: 1px var(--font_color2) solid;

    }

    .state_second_part {
        width: 50%;
        padding-top: 12%
    }

    .state_value {
        border: none;
        display: block;
    }

    .main_second_part {
        margin-top: 20px;
        width: 100%;
        position: static;
    }
}