.style{
    display: block;
    width: 30%;
    padding: 38px 48px;
    /* border-right: 1px rgba(255, 255, 255, 0.2) solid; */
    height: 91%;
    background: black;
    margin-left: calc(18% + 100px);
    text-align: left;
}
.ant-select-arrow{
    color: white !important;
}
.ant-select-selector{
    background: transparent !important;
    border: none !important;
    border-bottom:1px solid #333333 !important;
}
.ant-tag{
    border: 1px solid #fff !important;
    border-radius:6px !important;

}
.style_space{
    margin: 31px 0 15px 0;
}

@media screen and (max-width: 680px) {
    .style{
        margin:0;
        width: 100%;
        padding: 10px;
    }
}