.style{
    display: block;
    width: 30%;
    padding: 38px 48px;
    /* border-right: 1px --font_color2 solid; */
    height: 91%;
    background-color: var(--background-color);
    margin-left: calc(18% + var(--filter_width));
    text-align: left;
}
.ant-select-arrow{
    color: var(--font_color) !important;
}
.ant-select-selector{
    background: transparent !important;
    border: none !important;
    border-bottom:1px solid var(--font_color2) !important;
    height: 45px;
}
.ant-tag{
    border: 1px solid var(--font_color2) !important;
    border-radius:6px !important;

}
.style_space{
    margin: 31px 0 15px 0;
}
.ant-tag-has-color{
    color: var(--font_color) !important;
}
.ant-tag-has-color .anticon-close {
    color: var(--font_color) !important;
}

@media screen and (min-width: 681px) and (max-width: 1200px){
    .style{
        width: 50%;
    }
}

@media screen and (max-width: 680px) {
    .style{
        margin:0;
        width: 100%;
        padding: 10px;
    }
}