
.orders1{
    display: block;
    width: 25%;
    padding: 28px;
    /* border-right: 1px var(--font_color2) solid; */
    height: 91%;
    background-color: var(--background-color);
    margin-left: calc(18% + 100px);
    text-align: left;
}
.ant-radio-wrapper{
  color: var(--font_color) !important;
}
.orders2{
    display: block;
    width: calc(57% - 100px);
    padding: 28px;
    border: 1px var(--font_color2) solid;
    height: 91%;
    border-radius: 12px;
    background-color: var(--background-color);
    margin: 28px 28px 28px 0;
    /* margin-left: calc(18% + 100px); */
    text-align: left;
}

@font-face {
  font-family: "Recoleta";
  src: url("/public/fonts/Recoleta-Bold.ttf");
}

@font-face {
  font-family: "Vulf Sans Demo";
  src: url("/public/fonts/VulfSansDemo-Regular.otf");
}

.recoleta {
  font-family: "Recoleta" !important;
}

.vulfmono {
  font-family: "Vulf Sans Demo" !important;
}

#map {
  height: 346px;
  width: 100%;
  border-radius: 20px;
}
.delivery{
    margin: 18px 0 24px 0;
    display:flex;
}
.order_view{
    margin:24px 0 74px 0;
    text-align: left;
}
.order{
  display: flex;
  background-color: var(--background-color);
}
.mobile_order2{
  border-radius: 12px;
  border:1px var(--font_color2) solid;
  margin: 20px 0;
  padding: 24px;
}
@media screen and (max-width: 680px) {
  .order_view{
    margin: 24px 0;
  }
}