.modal-content{
    background: transparent;
    display: flex;
    gap: 20px;
    flex-direction: inherit;
    border: none;
}
.modal-body{
    width: 100%;
    background-color: var(--background-color);
    color: var(--font_color) !important;
    /* border: 1px var(--font_color2) solid; */
    border-radius: 12px;
    padding: 0;
    height: fit-content;
}
.checkout_header{
    border-bottom: 1px var(--font_color2) solid;
    padding: 16px;
}
.checkout_body{
    padding: 16px;
}

.checkout_footer{
    margin:auto;
    background: #565656;
    padding: 16px;
    border-radius: 0 0 12px 12px;
    cursor: pointer;
    color: white;
}
label{
    margin-bottom: 0;
}
.order_color{
    border-radius: 100px;
    height: 15px;
    width: 15px;
    background: red;
}
.order_footer{
    border-top: 1px var(--font_color2) solid;
}
.order_footer_middle{
    border-top: 1px var(--font_color2) solid;
    border-bottom: 1px var(--font_color2) solid;
}
.ant-tabs{
    color: var(--font_color) !important;
}
.ant-space-align-center {
    align-items: center;
    justify-content: space-between;
    display: flex !important;
}
.success_footer{
    margin:auto;
    background: #EB4949;
    padding: 16px;
    border-radius: 0 0 12px 12px;
    cursor: pointer;
}
.checkout_body .ant-select-arrow{
    display:none;
}
.ant-select-selection-item{
    color: var(--font_color);
}
.ant-tabs-top > .ant-tabs-nav::before {
    border: none !important;
}
.ant-tabs-nav-list{
    border-bottom: 1px solid var(--font_color2);
}
.ant-tabs-tab{
    color: var(--font_color2);
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--font_color) !important;
    /* color: #1890ff; */
}
.ant-radio-button-wrapper{
    width: 50%;
}
.ant-tabs-tab:hover {
    color: #EB4949 !important;
}
.ant-tabs-tab:active {
    color: #EB4949 !important;
}
.ant-tabs-tab-btn:focus, .ant-tabs-tab-remove:focus, .ant-tabs-tab-btn:active, .ant-tabs-tab-remove:active {
    color: #EB4949 !important;
    
}
@media screen and (max-width: 680px) {
    .modal-content{
        display:grid;
        width: 95%;
    }
    .login_part{
        order:2;
    }
}

@media screen and (min-width: 681px) and (max-width: 1200px){
    .login_part{
        /* width: max-content; */
        max-width: 100%;
    }
    .phone{
        width: max-content;
    }
    .modal-dialog {
        max-width: 700px;
    }
}