.favorites{
    width: calc(82% - 100px);
    padding: 28px;
    /* border-right: 1px --font_color2 solid; */
    /* height: 91%; */
    background-color: var(--background-color);
    margin-left: calc(18% + 100px);
    /* text-align: left; */
}
.heart{
    position: absolute;
    bottom: 42%;
    right: 10%;
}
@media screen and (max-width: 680px) {
    .favorites{
        margin: 0;
        width: 100%;
    }
}