.favorites{
    width: calc(82% - var(--filter_width));
    padding: 28px;
    /* border-right: 1px --font_color2 solid; */
    /* height: 91%; */
    background-color: var(--background-color);
    margin-left: calc(18% + var(--filter_width));
    /* text-align: left; */
}
.heart{
    position: absolute;
    bottom: 35%;
    right: 10%;
    cursor: pointer;
}

@media screen and (max-width: 680px) {
    .favorites{
        margin: 0;
        width: 100%;
    }

    .heart{
        bottom: 40%;
    }
}