.favorites{
    width: calc(82% - 100px);
    padding: 28px;
    /* border-right: 1px rgba(255, 255, 255, 0.2) solid; */
    /* height: 91%; */
    background: black;
    margin-left: calc(18% + 100px);
    /* text-align: left; */
}
@media screen and (max-width: 680px) {
    .favorites{
        margin: 0;
        width: 100%;
    }
}