.personal_info1{
    display: block;
    width: 25%;
    padding: 48px;
    border-right: 1px rgba(255, 255, 255, 0.2) solid;
    height: 91%;
    background: black;
    margin-left: calc(18% + 100px);
    text-align: left;
}
.ant-radio-wrapper{
    color: white !important;
}
.personal_info2{
    display: block;
    width: 25%;
    padding: 48px;
    border-right: 1px rgba(255, 255, 255, 0.2) solid;
    height: 91%;
    background: black;
    /* margin-left: calc(18% + 100px); */
    text-align: left;
}