.personal_info1 {
    display: block;
    width: 25%;
    padding: 48px;
    border-right: 1px var(--font_color2) solid;
    height: 91%;
    background-color: var(--background-color);
    margin-left: calc(18% + 100px);
    text-align: left;
}

.ant-radio-wrapper {
    color: var(--font_color) !important;
}

.personal_info2 {
    display: block;
    width: 25%;
    padding: 48px;
    border-right: 1px var(--font_color2) solid;
    height: 91%;
    background-color: var(--background-color);
    /* margin-left: calc(18% + 100px); */
    text-align: left;
}

.info_title {
    margin-bottom: 28px;
}

.info_each {
    margin: 24px 0;
}

.drop_under {
    border-bottom: 1px solid var(--font_color2);
}

.personal_info1 .ant-input-affix-wrapper {
    padding: 0;
}

.ant-radio-wrapper {
    padding: 7px !important;
    border: 1px solid var(--font_color2);
    margin-right: 0px !important;
}

.save_buttons {
    padding: 30px;
    background-color: var(--background-color);
    gap: 20px;
    display: flex;
    margin-left: calc(100px + 18%);
}

.save_button {
    background: #EB4949;
    border-radius: 12px;
    width: 150px;
    height:56px;
}
.cancel_button{
    background: transparent;
    border:none;
    width: 100px;
    height:56px;
}
.personal_info{
    display: flex;
    background-color: var(--background-color);
}
.personal_info .ant-select-arrow{
    display: none;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    background: rgba(51, 51, 51, 0.5) !important;
    color: var(--font_color) !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    border: none !important;
}

.ant-radio-inner::after {
    background-color: #EB4949 !important;
}

@media screen and (max-width: 680px) {
    .personal_info1 {
        margin-left:0;
        width: 100%;
    }
    .personal_info2 {
        /* margin-left:0; */
        width: 100%;
    }
    .personal_info{
        display: block;
    }
    .save_buttons{
        margin: 0;
        justify-content: space-between;
    }
}