.switch_mode{
  text-align: center;
  color: #FFFFFF;
}
.author_body {
  display: flex;
  position: absolute;
  top: 9%;
}
.homepage_body{
  display: flex;
  position: absolute;
  top: 9%;
  width: 100%;
}
.ant-input {
  border:none !important;
  border-bottom: 1px #333333 solid !important;
  background-color: transparent !important;
  color: white !important;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile_version{
  display: none;
}
.desktop_version{
  display: block;
}
@media screen and (max-width: 680px) {
  .mobile_version{
    display: block;
  }
  .desktop_version{
    display: none;
  }
  .author_body {
    display: flex;
    position: static;
    padding-top: 48px;
  }
}