
/* :root {
  --background-color: #f00;
  --border-color: #333;
  --font-color: #fff;
  --button-color: #0f0
} */
 
/* .custom-box {
  box-shadow: var(--my-shadow, 2px 2px 5px blue); */



.switch_mode{
  text-align: center;
  color: var(--font_color);
}
.author_body {
  display: flex;
  position: absolute;
  top: 9%;
}
.homepage_body{
  display: flex;
  position: absolute;
  top: 9%;
  width: 100%;
}
.ant-input {
  border:none !important;
  border-bottom: 1px var(--font_color2) solid !important;
  background-color: transparent !important;
  color: var(--font_color) !important;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile_version{
  display: none;
}
.desktop_version{
  display: block;
}
@media screen and (max-width: 680px) {
  .mobile_version{
    display: block;
  }
  .desktop_version{
    display: none;
  }
  .author_body {
    display: flex;
    position: static;
    padding-top: 48px;
  }
}