/* :root {
  --background-color: #f00;
  --border-color: #333;
  --font-color: #fff;
  --button-color: #0f0
} */

/* .custom-box {
  box-shadow: var(--my-shadow, 2px 2px 5px blue); */



.switch_mode {
  text-align: center;
  color: var(--font_color);
}

.author_body {
  display: flex;
  position: absolute;
  top: 9%;
}

.homepage_body {
  display: flex;
  position: absolute;
  top: 9%;
  width: 100%;
}

.ant-input {
  border: none !important;
  border-bottom: 1px var(--font_color2) solid !important;
  background-color: transparent !important;
  color: var(--font_color) !important;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_version {
  display: none;
}

.desktop_version {
  display: block;
}

.cookies {
  gap: 10px;
  background: var(--cookies_back);
  border: 1px solid rgba(163, 88, 88, 0.2);
  /* backdrop-filter: blur(14px); */
  border-radius: 12px;
  position: fixed;
  bottom: 40px;
  transform: translate(-50%, -50%);
  left: 50%;
  height: 60px;
  width: 58%;
  padding: 13px;
  justify-content: center;
  align-items: center;
}

.cookies_btn {
  /* backdrop-filter: blur(14px); */
  /* background: #0D0D0D; */
  border-radius: 36px;
  /* border: 1px solid linear-gradient(90deg, #4B355A 2.57%, #3784AB 25.48%, #40C397 51.66%, #F0E681 74.93%, #EB4949 99.48%); */
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  border-radius: 100rem;
  /* padding: 1rem; */
  padding: 5px 10px 6px;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 1px transparent;
  background-image: linear-gradient(#4B355A, #4B355A), linear-gradient(101deg, #4B355A, #3784AB, #40C397, #F0E681, #EB4949);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 1px 1000px 1px var(--background-color) inset;
  cursor: pointer;
}

.cookies_btn1 {
  /* backdrop-filter: blur(14px); */
  /* background: #0D0D0D; */
  border-radius: 36px;
  /* border: 1px solid linear-gradient(90deg, #4B355A 2.57%, #3784AB 25.48%, #40C397 51.66%, #F0E681 74.93%, #EB4949 99.48%); */
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  border-radius: 100rem;
  /* padding: 1rem; */
  padding: 5px 10px 6px;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 1px var(--font_color);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 1px 1000px 1px var(--background-color) inset;
  cursor: pointer;
}

.cookies_text {
  display: flex;
  gap: 5px;
}

.cookies_buttons {
  display: flex;
  gap: 5px;
}

.logined_badge {
  /* display: flex; */
  border-radius: 100px;
  border: 1px solid red;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.badge {
  position: absolute;
  left: 65%;
  bottom: 60%;
  font-size: 14px;
  background: var(--background-color);
  width: 24px;
  height: 22px;
  border-radius: 10px;
}

.badge2 {
  position: absolute;
  left: 65%;
  bottom: 60%;
  font-size: 14px;
  background: var(--background-color);
  width: 24px;
  height: 22px;
  border-radius: 10px;
}

.login_avatar {
  align-items: center;
  justify-content: center;
  width: 55px;
  background-repeat: no-repeat;
  background-position: 45% 45%;
  height: 100%;
}

img {
  height: auto;
}
.mobile_spotify{
  display: none;
}
@media screen and (min-width: 681px) and (max-width: 1200px) {
  .cookies {
    font-size: 12px;
    width: 80%;
    right: 45%;
  }
}

@media screen and (max-width: 680px) {
  .logined_badge {
    width: 45px;
    height: 45px;
  }

  .mobile_version {
    display: block;
  }

  .desktop_version {
    display: none;
  }

  .author_body {
    display: flex;
    position: static;
    padding-top: 48px;
  }

  .cookies {
    width: 94%;
    padding: 10px;
    height: auto;
    bottom: -5%;
  }

  .cookies_buttons {
    display: block;
    text-align: end;
  }

  .cookies_text {
    display: block;
    text-align: left;
  }

  .cookies_btn1 {
    margin-bottom: 5px;
  }

  .cookies_btn {
    width: max-content;
  }
  .mobile_spotify{
    display: block;
    position: fixed;
    /* bottom: 5%; */
  }
}